* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

html,body{
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

h2{
  color: #323232;
}
  
header{
    height: 2%;
    padding:20px 0;
}
  
.logo{
    width:50%;
}
  
.menu{
    width:100%;
    text-align: right;
}
  
.menu a{
    color: #323232;
    text-decoration: none;
    font-weight: bold;
    margin-right:15px;
    font-size: 125%;
}
  
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}
  
.extras{
    position: absolute;
    bottom: -500px;
    right: -500px;
    width: 1300px;
    height: 1300px;
    border-radius:50%;
    background-color: indianred;
}

.texto-sobre{
    margin-top:100px;
    text-align: center;
  }
  
  .texto-sobre h1{
    font-size:50px;
  
  }
  
  .texto-sobre p{
    margin:20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 500px;
  }
  
  .texto-sobre button{
    border: 0;
    background-color:indianred;
    color:white;
    border-radius:10px;
    width:100px;
    height:30px;
    cursor: pointer;
  }